<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maksatuly.example.rauan.rauan">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cube"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cube"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="maksatuly.example.rauan.rauan.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="maksatuly.example.rauan.rauan.LevelActivity" />
        <activity android:name="maksatuly.example.rauan.rauan.AboutActivity" />
        <activity android:name="maksatuly.example.rauan.rauan.GameActivity"></activity>
    </application>

</manifest>